body {
    font-family: 'Comic sans MS';
    color: rgb(46, 45, 46);
    text-align: center;
    letter-spacing: .5em;
    margin-top: 4em;
    line-height: 4rem;
    background: linear-gradient(to right, rgb(44, 152, 202), rgb(95, 31, 76));
}

h1 {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    margin-top: 2em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    line-height: normal;
}

input {
    background: yellow;
    width: 5em;
    height: 2.2em;
    border-radius: 0 0.8em;
}